[submodule "srl-dashboard"]
	path = srl-dashboard
	url = git@github.com:NOLAI/srl-dashboard.git
[submodule "srl-api"]
	path = srl-api
	url = git@github.com:NOLAI/srl-api.git
[submodule "FLoRA"]
	path = FLoRA
	url = git@github.com:NOLAI/FLoRA.git
